@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Dancing+Script&family=Playball&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chat {
  display: grid;
  grid-auto-flow: column;
  /* place-content: center; */
  grid-template-columns: 40px 0.7fr 1fr;
  padding: 0.3rem;
  height: 100vh;
}
.chat img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* leftmenu.tsx style */
.left_menu {
  display: grid;
  place-content: center;
  justify-items: center;
  /* border-right: 1px solid gray; */
  gap: 15px;
  padding: 3px;
  background-color: #cfd2cf;
}
.sign_out {
  font-size: 30px;
  color: red;
}
/* friends.tsx style */
.friends {
  display: grid;
  grid-template-rows: 50px;
  gap: 5px;
  border-right: 1px solid gray;
}
.search_friends {
  all: unset;
  display: grid;
  border-bottom: 1px solid gray;
  padding: 5px;
}

.search_friends input {
  all: unset;
  padding: 10px;
  place-content: center;
  background-color: rgb(202, 199, 199);
  border-radius: 10px;
}
.your-friends {
  background-color: #fafafa;
}
.your-friends li {
  display: grid;
  grid-auto-flow: column;
  place-content: center start;
  border-bottom: 1px solid gray;
  height: 50px;
  padding: 5px;
  gap: 5px;
  cursor: pointer;
}
.your-friends li:hover {
  background-color: rgb(202, 198, 198);
  color: white;
}
.friend_li {
  align-items: center;
  background-color: rgb(252 168 124);
  color: white;
}
.friend_li_selected {
  align-items: center;
  background-color: rgb(236 117 109);
  color: white;
}

/* conversation.tsx style */
.conversation {
  display: grid;
  grid-auto-rows: 50px 1fr 30px;
}
header {
  display: grid;
  grid-auto-flow: column;
  place-content: center start;
  gap: 5px;
  /* height: 50px; */
  /* border-bottom: 1px solid gray; */
  padding: 0.3rem;
  font-size: 25px;
  align-items: center;
  background-color: rgb(236 117 109);
  color: white;
  font-family: "Montserrat", sans-serif;
}

.send-message {
  all: unset;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto;
  align-items: center;
  border-top: 1px solid gray;
}
.send-message input {
  all: unset;
  padding: 5px;
}
.sent-icon {
  font-size: 20px;
}
.messsages {
  padding: 5px;
  background-image: url("./wallpaper.png");
  background-color: #fbf2cf;
}
.friend_messsage {
  display: grid;
  grid-auto-flow: column;
  place-content: start;
  gap: 5px;
}
.my_messsage {
  display: grid;
  grid-auto-flow: column;
  place-content: end;
  gap: 5px;
}
.selectedfriend {
  display: grid;
  place-content: center;
  background-color: antiquewhite;
}
.info {
  display: grid;
  place-content: center;
}
.sticker {
  justify-self: center;
  font-size: 35px;
}
.text {
  font-family: "Alex Brush", cursive;
  font-family: "Dancing Script", cursive;
  font-family: "Playball", cursive;
  font-size: 30px;
}
.messsages_list {
  display: grid;
  list-style: none;
  /* place-content: center; */
  gap: 10px;
}
.my_message {
  display: grid;
  place-content: end;
}
.friend_message {
  display: grid;
  place-content: start;
}
.my_messagediv {
  background-color: #fa7070;
  color: white;
  padding: 5px;
  border-radius: 3px;
}
.friend_messagediv {
  background-color: rgb(115, 143, 230);
  color: white;
  padding: 5px;
  border-radius: 3px;
}
.message_sender {
  color: rgb(209, 205, 205);
  font-size: 13px;
}
