@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Dancing+Script&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


#loginform{
    display:grid;  
    grid-auto-flow: row;
    row-gap: 20px; 
    /* gap:25px;
    border: 1px solid gray;
    padding:10px;
    border-radius: 10px;
    background-color: rgb(255,255,255); */

   
}
#loginform.input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
  }
.container{
    
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
   padding: 50px;
 
    
}




.sectioni{
  
    background-image:url("https://images-cdn.welcomesoftware.com/Zz03ZTY0Mzk3MDhlNDgxMWViYmRmNWY3MjZjM2QxZTdiZg==") ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    
  }
  .registersec{
    background-image:url("https://images-cdn.welcomesoftware.com/Zz03ZTY0Mzk3MDhlNDgxMWViYmRmNWY3MjZjM2QxZTdiZg==") ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
 
    
}

.container{
    
    position: relative;
      max-width: 460px;
      width: 100%;
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      overflow: hidden;
     padding: 50px;
   
  
    
  }
  form{
    display: grid;
    grid-auto-flow: row;
    row-gap: 20px;
   
  
  }
  .formh2{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
  
  }
  form.input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
  }
 
  h1{
    font-size: 50px;
    
  }

.header {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    height: 100px;
  }
  
  .header__logo {
    margin: 0 1rem;
    font-size: 3.5rem;
  }
  
  .header::after {
    display: block;
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 80%;
    justify-self: center;
    content: "";
    border-bottom: 2px solid var(--border-colour);
  }
  
  .header__nav {
    margin-left: 3rem;
  }
  
  .header__nav li {
    display: inline-block;
    margin-left: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }
  
  .header__nav li:hover {
    text-decoration: underline;
  }


  input:focus{
    outline: none;
  }
 

  input{
    padding-top: 20px;
    border-style: none;
    border-bottom: solid 0.5px;
   height: 50px;
   width: 300px;
    padding-left: 10px;
    
    
  }
  a{
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
.loginh1{
    font-family: 'Poppins', sans-serif;
}
  .loginbtn{
   
        width: 100%;
        height: 40px;
        border-radius: 10px;
        border: solid 0.5px rgb(0, 0, 0);
       background-color: rgb(151,52,80);
        font-family: sans-serif;
        color: white;
        font-size: 20px;
     
      
  }